<div class="container">
  <div class="well">
  <div class="row">
    <!--Form Starts-->
    <form [formGroup]="userform" (ngSubmit)="onSubmit()"> 
    <div class="col-sm-6 col-sm-offset-3">
      <h3>Receipt</h3>
      <div class="col-sm-4 col-sm-offset-6">
        <label>Date</label>
         <div (updateTime)="updateMyTime()">{{date | date:format}}</div>
      </div>

      <div class="form-group">
        <label>Student Name:</label>
        <input type="text" #refName class="form-control" formControlName="name"  placeholder="Enter the name" pattern="[a-zA-Z ]*"><br>
        <div *ngIf="userform.controls['name'].hasError('required')"></div>
        <div *ngIf="userform.controls['name'].hasError('minlength')"></div>
        <div *ngIf="userform.controls['name'].hasError('maxlength')"></div>
      </div>

      <div class="form-group">
        <label>Stud Paid Fees:</label>
        <input type="text" #refPaid class="form-control" formControlName="paid" placeholder="Enter the paid" pattern="[0-9]*"><br>
        <div *ngIf="userform.controls['paid'].hasError('required')"></div>
        <div *ngIf="userform.controls['paid'].hasError('minlength')"></div>
        <div *ngIf="userform.controls['paid'].hasError('maxlength')"></div>
      </div>

      <div class="form-group">
        <label>Authorised Name</label>
        <input type="text" #refAuth class="form-control" formControlName="authorised" pattern="[A-z]*" placeholder="Enter the authorised">
        <div *ngIf="userform.controls['authorised'].hasError('required')"></div>
        <div *ngIf="userform.controls['authorised'].hasError('minlength')"></div>
        <div *ngIf="userform.controls['authorised'].hasError('maxlength')"></div><br>

        <button type="submit" [disabled] ="!userform.valid" class="btn btn-success btn-btn-lg form-control" routerLink = "/create">Submit</button>
     </div>
    </div> 
    </form> 
    <!--Form End--> 
  </div> 
</div>
</div>