
<div class="container _color">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-12 col-lg-12">
    <div class="col-sm-offset-2 col-sm-8 _font">
    <h4> Fees Form</h4>
    </div>
  <!--Form Starts-->
 <form [formGroup]="userform" (ngSubmit)="onSubmit()"> 
  <div class="row">
    <div class="col-sm-offset-6 col-sm-8">
        <label>Date</label>
        <div (updateTime)="updateMyTime()">{{date | date:format}}</div>
    </div>
    <div class="col-sm-offset-2 col-sm-8">
      <div class="form-group">
        <label>
          Student Name:
        </label>
        <input type="text" #refName class="form-control" formControlName="name"  placeholder="Enter the name" pattern="[a-zA-Z ]*">
        <div *ngIf="userform.controls['name'].hasError('required')"></div>
        <div *ngIf="userform.controls['name'].hasError('minlength')"></div>
        <div *ngIf="userform.controls['name'].hasError('maxlength')"></div>
      </div>

      <div class="form-group">
        <label>
          Paidfees:
        </label>
        <input type="text"  #refPaid class="form-control" formControlName="paid_fees" pattern="[0-9]*" placeholder="Enter the Paid Fees">
        <div *ngIf="userform.controls['paid_fees'].hasError('required')"></div>
        <div *ngIf="userform.controls['paid_fees'].hasError('minlength')"></div>
        <div *ngIf="userform.controls['paid_fees'].hasError('maxlength')"></div>
        <div *ngIf="userform.controls['paid_fees'].hasError('pattern')"></div>
      </div>

      <div class="form-group">
        <label>
          Remainingfees:
        </label>
        <input type="text" #refRemain class="form-control" formControlName="remain_fees" pattern="[0-9]*" placeholder="Enter the Remain Fees">
        <div *ngIf="userform.controls['remain_fees'].hasError('required')"></div>
        <div *ngIf="userform.controls['remain_fees'].hasError('minlength')"></div>
        <div *ngIf="userform.controls['remain_fees'].hasError('maxlength')"></div>
        </div>
  
      <div class="form-group">
        <button type="submit"  [disabled] ="!userform.valid" class="btn btn-success btn-btn-lg form-control" routerLink="/feedback">Submit</button>
      </div>
    </div>
</div>
</form>
</div>
<!--Form Ends-->
</div>


        