<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">      
        <div class="navbar-header">
        <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:#feb093;color:black">
        <span class="caret" style="color:black"></span> Admin View</button>
        <ul class="dropdown-menu">
        <li> <a routerLink="/admission" routerLinkActive="active" style=color:#c44d33>Admission Section</a></li>
        <li role="presentation" class="divider"></li> 
        <li> <a routerLink="/create" routerLinkActive="active" style=color:#c44d33>CreateBatch</a></li>
        <li role="presentation" class="divider"></li>
        <li> <a routerLink="/lectures" routerLinkActive="active" style=color:#c44d33>Lectures</a></li>
        <li role="presentation" class="divider"></li>
        <li> <a routerLink="/lecturer" routerLinkActive="active" style=color:#c44d33>Lecturer Section</a></li>
        <li role="presentation" class="divder"></li>
        <li> <a routerLinkActive="active" style=color:#c44d33 routerLink="/course">Courses</a></li>
        <li role="presentation" class="divder"></li>
        <li> <a routerLink="/fees" routerLinkActive="active" style=color:#c44d33>Fees Section</a></li>
        <li role="presentation" class="divder"></li>
        </ul>
        </div>
        </div>
      </div>
     </div> 
    </div>
   </nav>
          
<router-outlet></router-outlet>