<div class="container _color">
    <!--- Form Starts-->
    <form [formGroup]="userform" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="form-group">
            <label>Email</label>
            <input type="text" #refEmail class="form-control" formControlName="email" pattern="[a-zA-Z @ .]* " placeholder="enter the email">
            <div *ngIf="userform.controls['email'].hasError('required')"></div>
            <div *ngIf="userform.controls['email'].hasError('minlength')"></div>
            <div *ngIf="userform.controls['email'].hasError('maxlength')"></div>
          </div>

          <div class="form-group">
            <label>Message</label>
            <textarea name ="message" #refMsg class="form-control" formControlName="message" rows="10" cols="30" pattern="[a-zA-Z]*" placeholder="enter the message" required></textarea>
            <div *ngIf="userform.controls['message'].hasError('required')"></div>
            <div *ngIf="userform.controls['message'].hasError('minlength')"></div>
            <div *ngIf="userform.controls['message'].hasError('maxlength')"></div>
          </div>

          <div class="form-group">
            <button type="submit" [disabled]=!userform.valid   class="btn btn-success btn-btn-lg form-control">Submit</button>
          </div>
          
        </div>
      </div> 
    </form>  
    <!--Form Ends-->
</div>       