 <div class="container form_bg"> 
    <div class="_font col-sm-offset-3 col-sm-8">   
    <h4>Student Batches</h4>
    </div>  
    <div class="col-sm-offset-3 col-sm-8">
    <button class="btn btn-info btn btn-md active " routerLink="/frontend">Frontend</button>
    <button class="btn btn-info btn btn-md active" routerLink="/backend">Backend</button>
    <button class="btn btn-info btn btn-md active" routerLink="/android">Android</button>
    <button class="btn btn-info btn btn-md active" routerLink="/IOS" routerLink="/ios">IOS</button>
    </div>
</div>



        